body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f4f4f4;
    line-height: 1;
}

h2 {
	font-size: 1.5em;
	line-height: .2;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

intro {
	padding: 0;
    
}

.my-list {
	line-height: 1.5;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}
