body {
    font-family: Arial, sans-serif;
	background-color: #f4f4f4;	
}

@media (min-width: 600px) {
	body {
		padding: 10px;
		max-width: none;
	}
}

main {
	
}

.center {
	text-align: center;
}
/*
@media (min-width: 1024px) {
	body {
	}
}
*/
h2 {
	font-size: 1.5em;
	line-height: .2;
}

header {
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

intro {
	padding: 0;
    
}

footer {
    padding: 10px;
    text-align: center;

}

.container {
	text-align: center;
	/* align-items: center; */
}

.container pre {
	display: inline-block;
	text-align: left;
}

.my-list {
	line-height: 1.5;
}

.ascii {
	line-height: .95;
	font-family: monospace;
	white-space: pre;
}

.static-bottom-center {
	
}